$containerWidth: 500px

h1 
  color: red

#container
  display: flex
  width: $containerWidth
  background-color: lightyellow
  flex-direction: row
  flex-wrap: wrap
  margin: auto
  border: none

div
  width: ($containerWidth/20)-2
  height: ($containerWidth/20)-2
  border: 1px solid black
  background-color: white
  